streamlit
streamlit-option-menu
pandas
numpy
plotly
yfinance
pillow
python-pptx
kaleido
git+https://github.com/robertmartin8/PyPortfolioOpt.git
empyrical-reloaded
scipy
python-dateutil
ta
scikit-learn
arch
statsmodels



